body {
padding: 0;
margin: 0;
}
.cont-bg{
  background-image: url("https://www.w3schools.com/howto/img_link_tree_template3_bg.jpg"); /* The image used for background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.container {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.name {
  margin-top: 15px !important;
  margin-bottom: 0;
}
.bio-headinfo h3 {
  margin: 5px 0;
}
.w3-theme-d3 {
  background-color: rgba(42, 169, 219, 0.6) !important;
}

.w3-theme-d3:hover {
  background-color: rgba(42, 169, 219, 0.8) !important;
}

a {
  font-size: x-large;
}

.w3-border {
  border: 3px solid #ccc !important;
}

.links-container {
  display: flex;
  flex-direction: column;
  jusify-content: center;
  align-items: center;
}

.links-container a {
  width: 80%;
}
.biolink-width {
  width: 100%;
}
.profession {
  font-size: 14px;
}

.subscribe {
  font-size: 15px;
}

.submit form {
  display: flex;
  flex-direction: column;
}

.submit form button {
  margin-top: 5px;
  background-color: rgba(27, 122, 159, 0.9) !important;
  color: #fff !important;
}

.submit form button:hover {
  background-color: rgba(15, 67, 87, 0.9) !important;
  color: #fff !important;
}
.submit form input {
  width: 100% !important;
}
.submit form input::placeholder {
  color: #fff;
}

.icons {
  display: flex;
  gap: 40px;
}

.icons a {
  text-decoration: none;
}

.icons a svg {
  fill: #d0ecf7;
  transform: scale(1.5);
}


/* ServContent1 CSS Start*/
.serv-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding-bottom: 10px;
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
.serv-content.widgets{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3px 15px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  background: #e9ebf7;
  transition: 0.3s all ease-in-out;
}
.widgets {
  padding: 0 0 10px;
  border-radius: 0 0 5% 5%;
  position: relative;
}
/* ServContent1 CSS End*/

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0px;
}
.col span {
    padding: 0 2%;
}
.col-m{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col-xx {
    display: inline-block;
}
.widgets.leftbackground {
    background: #ccc;
}

/* Parts Section */
.parts-area{
  background-image: url('images/background-2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Arial', sans-serif;
	box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 66%);
	padding: 5% 0;
	color:#fff;
	position:relative;
}
	
/*overlay css start*/
.parts-area::before,.grow-business-area::before,.wehaveyouneed::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 25, 47, 0.8); /* Adjust the color and opacity as needed */
    z-index: 0; /* Place the overlay above the background image */
}
/*overlay css end*/


/*-------------------------------------------
			Bio-Link CSS start
---------------------------------------------*/
.biolink {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
}

.common-millde {
  position: relative;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}
.biolink-info {
  position: absolute;
  top: 22%;
  margin: 0 auto;
  width: 49%;
}
.bio-image {
  overflow: hidden;
  width: 65%;
  margin: auto;
}
.bio-image img {
  width: 25%;
  border-radius: 50%;
  border: 5px solid #4ab6e0 !important;
  margin-top: 16px;
}
.col-x.model-img img {
  height: auto;
  margin: 0 auto;
}
.col-x.infotext {
    width: 100%;
    padding: 0 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}
.bio-headinfo {
  color: #b2b3b5;
}
h2.name span {
  font-size: 30px;
}
.social-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-icon span {
  padding: 5px;
  margin: 5px 3px;
  border-radius: 10%;
  background: #1d2022;
  box-shadow: 3px 2px 26px #000000;
}
.social-icon span i {
  text-align: center;
}
.social-icon span a {
  color: #b2b3b5;
}
.social-icon span:hover a {
  color: #1b8867;
}
.contact-me {
  display: flex;
  flex-wrap: nowrap;
  width: 86%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}
.contact-me span a {
  font-size: 30px;
  padding: 15px;
}
a.contact-txt {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  background: #383c3e;
  border-radius: 15px 15px;
  box-shadow: 3px 2px 26px #000000;
  padding: 0 10px;
}

a.contact-txt:hover,a.contact-txtr:hover {
  color: #009688;
}
.contact-me a {
  text-decoration: none;
  color: #acadaf;
  text-transform: uppercase;
}
a.contact-txt p {
  margin: 10%;
  font-size: 20px;
}
a.contact-txt i {
  padding: 10px;
  margin: 5px;
  box-shadow: 3px 2px 26px #000000;
  border-radius: 50%;
  font-size: 40px;
}

a.contact-txtr {
  display: flex;
  margin: 0 auto;
  background: #383c3e;
  border-radius: 15px 15px;
  box-shadow: 3px 2px 26px #000000;
  padding: 10%;
  text-align: center;
  font-size: 20px;
}
.contact-info {
  width: 85%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 5% 0 1% 0;
}
.webresu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  column-gap: 10px;
  width: 100%;
}
.link {
  color: #acadaf;
  font-size: 20px;
  text-decoration: none;
}
a.w3-button.link:hover {
  color: #04c2b0;
}
.contact-info span {
  width: 100%;
  padding: 3px 5px;
  background: #383c3e;
  margin: 3px 0px;
  border-radius: 15px;
  box-shadow: 3px 2px 26px #000000;
}

/*-------------------------------------------------
                        Products CSS Start
--------------------------------------------------*/
.products {
  color: #acadaf;
  width: 85%;
}
.products h2 {
  text-decoration: underline;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #363a3c;
  border-radius: 15px;
  padding: 5px;
}
span.widgets.productss {
  width: 100%;
  background: #363a3c;
  text-align: center;
  box-shadow: 3px 2px 26px #000000;
  margin: 0;
  border-radius: 15px;
}
span.widgets.productss p {
  font-size: 20px;
}
.upworkcss a {
  color: #81d076;
  text-decoration: none;
}
.upworkcss a:hover {
  text-decoration: underline;
}
/*-------------------------------------------------
                  Products CSS End
--------------------------------------------------*/
h2.nametext {
    font-size: 30px;
}
.useful-links ul li {
    list-style-type: none;
}
.useful-links ul li i {
    float: left;
    padding: 0 2% 0 0;
}
i.fa.fa-map-marker {
    padding: 0 3.5% 0 0;
}

.col-x.col-m.infolocation {
    padding: 0 15%;
}
.underlinecss h3 span {
    text-decoration: underline;
    text-transform: uppercase;
	line-height: 8px;
    text-underline-position: under;
}

/*-------------------------------------------
			Bio-Link CSS End
---------------------------------------------*/


section#copywrite-footer{
    background: #000717;
	overflow:hidden;
}
.copyright-footer-area {
    background: #000717;
    padding: 10px 0;
	width:100%;
	overflow:hidden;
}
.copywrite-area {
    background: #000717;
	color:#fff;
	text-align:center;
	font-size: 20px;
}
/*top buttton*/
#myBtn {display: none;position: fixed;bottom: 20px;right: 30px;z-index: 99;font-size: 18px;border: none;outline: none;background-color: red;color: white;cursor: pointer;padding: 15px;border-radius: 4px;}
#myBtn:hover {background-color: #555;}
#scrollTopBtn {
	display: block;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
}
		
/*=========================================================
						Responsive 
===========================================================*/
/*-------------------------------------------------------
		@media screen 1184px Start
---------------------------------------------------------*/
@media screen and (max-width: 1184px) {


}

/*-------------------------------------------------------
		@media screen 1070px Start
---------------------------------------------------------*/
@media screen and (max-width: 1070px) {

	
}

/*-------------------------------------------------------
				@media screen 1069px Start
---------------------------------------------------------*/
@media screen and (max-width: 1069px) {


}

/* iPad Pro 12.9-inch Portrait */
@media screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) {
  /* Custom styles for iPad Pro 12.9-inch portrait mode */
  .biolink-info {top: 7%;width: 70%;}
}

/*-------------------------------------------------------
				@media screen 980px Start
---------------------------------------------------------*/
@media screen and (max-width: 980px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
  .biolink {width: 100%;overflow: hidden;}
  .biolink-info {width: 82%;top: 8%;}
  .bio-image img {width: 40%;}
  span.widgets.productss p {font-size: 35px;padding: 20px;margin: 0;}
  span.widgets.productss p {padding: 15px;}
  .link {font-size: 36px;}


}
/* iPad Pro 11-inch Portrait */
@media screen and (min-width: 834px) and (max-width: 834px) and (orientation: portrait) {
  /* Custom styles for iPad Pro 11-inch portrait mode */
  .biolink-info {top: 7%;width: 70%;}
}

/*-------------------------------------------------------
				@media screen 849px Start
---------------------------------------------------------*/
@media screen and (max-width: 849px) {
  
	
}

/*-------------------------------------------------------
				@media screen 782px Start
---------------------------------------------------------*/
@media only screen and (max-width: 782px) {
  .link {
    width: 100%;
  }
  .biolink-width {margin: 0 auto;}
  .link {font-size: 18px;}
  span.widgets.productss p {font-size: 18px;padding: 3px 0;margin: 0;}
  .serv-content {grid-template-columns: repeat(1, 1fr);grid-gap: 5px;padding-bottom: 0;}
  .widgets {padding: 0;}
  .products h2 {padding: 1px;}


 }

 /* iPad Mini Portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Custom styles for iPad Mini portrait mode */
  span.widgets.productss p {font-size: 35px;padding: 20px;margin: 0;}
  span.widgets.productss p {padding: 15px;}
  .link {font-size: 36px;}
  .contact-info {margin: 2% 0 1% 0;}
}

/*-------------------------------------------------------
				@media screen 768px Start
---------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .link {width: 100%;font-size: 36px;}
  .biolink-width {margin: 0 auto;}
  span.widgets.productss p {font-size: 36px;padding: 25px;margin: 0;}
  .serv-content {grid-template-columns: repeat(2, 1fr);grid-gap: 15px;padding-bottom: 10px;}
  .widgets {padding: 0;}
  .products h2 {padding: 10px 0;margin: 10px auto;width: 100%;font-size: 45px;}
  .products {margin-bottom: 10px;}
  .social-icon span {padding: 10px;margin: 5px 3px;}
  .name {margin-top: 5px !important;}
  .social-icon span i {text-align: center;font-size: 40px;}
  h2.name span {font-size: 45px;}
  .profession {font-size: 30px;}
  .bio-headinfo h3 {margin: 10px 0;}
  .contact-info span {padding: 10px 5px;}
  .upworkcss a {margin: 15px 0;font-size: 40px;}
  .copywrite-area {font-size: 25px;}
  .col-x.model-img img {width: 100%;}

}
/*-------------------------------------------------------
				@media screen 650px Start
---------------------------------------------------------*/
@media screen and (max-width: 650px) {
  .biolink-info {top: 5%;width: 100%;}
  .biolink-width {margin: 0 auto;}
  a.contact-txt p {margin: 5%;font-size: 15px;}
  a.contact-txtr {padding: 6%;font-size: 14px;}
  .link {font-size: 17px;}
  span.widgets.productss p {font-size: 18px;padding: 3px 0;margin: 0;}
  .serv-content {grid-template-columns: repeat(1, 1fr);grid-gap: 5px;padding-bottom: 0;}
  .widgets {padding: 0;}
  .products h2 {padding: 1px;margin: 8px auto;width: 100%;}
  .products {margin-bottom: 10px;}
  .social-icon span {padding: 3px;margin: 0px 3px;}
  .name {margin-top: 5px !important;}
  .col-x.model-img img {width: 100%;}
  .contact-me span a {font-size: 20px;padding: 3px 10px;margin: 0 4px;}
  .copyright-footer-area {padding: 5px 0;}

}
/* Samsung Galaxy S8+ Portrait */
@media screen and (min-width: 360px) and (max-width: 412px) and (orientation: portrait) {
  /* Custom styles for Galaxy S8+ portrait mode */
  .contact-me span a {font-size: 19px;}
  .contact-info {margin: 1px 0 1% 0;}
  .products {margin-bottom: 1px;}
}

/* Galaxy Fold Portrait */
@media screen and (min-width: 280px) and (max-width: 300px) and (orientation: portrait) {
  /* Custom styles for Galaxy Fold portrait mode */
  .biolink-info {top: 3%;}
  .biolink-width {margin: 0 auto;}
  a.contact-txt p {margin: 3%;font-size: 13px;}
  a.contact-txtr {padding: 6% 10px;font-size: 13px;}
  .link {font-size: 12px;}
  span.widgets.productss p {font-size: 13px;padding: 1px 0;margin: 0;}
  .serv-content {grid-template-columns: repeat(1, 1fr);grid-gap: 5px;padding-bottom: 0;}
  .widgets {padding: 0;}
  .products h2 {padding: 1px;margin: 3px auto;width: 100%;font-size: 17px;}
  .products {margin-bottom: 3px;}
  .social-icon span {padding: 3px;margin: 0px 3px;}
  .name {margin-top: 5px !important;}
  h2.name span {font-size: 25px;}
  .bio-headinfo h3{ margin: 3px 0;}
  .contact-info {margin: 1% 0 1% 0;}
  .copyright-footer-area {padding: 16px 0;}
  .copywrite-area {font-size: 17px;}
  .col-x.model-img img {width: 100%;}
  .contact-me span a {
    font-size: 13px;
    padding: 3px 5px;
    margin: 0 4px;}
    a.contact-txt i {padding: 10px;margin: 2px;font-size: 25px;}
}